/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/*
  End Josh's Custom CSS Reset"
*/

/* * {  */
/*   border: 1px solid red;  */
/* }  */

:root {
  --bg-colour: hsl(240, 27%, 18%);
  --bg-accent: hsl(232, 17%, 35%);
  --main-text: hsl(21, 35%, 92%);
  --accent-blue: hsl(195, 82%, 76%);
  --accent-pink: hsl(311, 64%, 85%);
  --accent-yellow: hsl(37, 98%, 53%);
  --accent-blue-dark: hsl(215, 77%, 60%);
}

body {
  background: var(--bg-colour);
}

.bg-img {
  background-image: url("https://images.unsplash.com/photo-1691874678829-76e4e7fb5e93?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80");
  opacity: 0.3;
  background-size: cover;
  filter: blur(20px);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.play {
  color: var(--main-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: 10px 0;
}

.play__title {
  background: var(--main-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 20px;
}

.play__info {
  color: var(--accent-blue-dark);
  font-size: 20px;
}

.info,
.flavour {
  font-style: italic;
  font-size: 18px;
  color: var(--main-text);
  transform: translateY(-20px);
  margin-bottom: 0px;
}

.info {
  color: var(--accent-blue-dark);
}

.round {
  background: -webkit-linear-gradient(
    90deg,
    var(--bg-colour) 90%,
    var(--accent-blue-dark) 90%
  );
  opacity: 0.8;
  border: 3px solid var(--bg-accent);
  border-radius: 20px;
}

.entries {
  display: flex;
  min-height: 200px;
  align-items: center;
}

.round-entry {
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 250px;
}

.round-emoji {
  font-size: 100px;
  text-align: center;
}

.vs {
  color: var(--accent-yellow);
  font-size: 30px;
  font-weight: bold;
}

#play__score {
  font-weight: bold;
  font-size: 20px;
}

.round-text {
  font-weight: bold;
}

.controls {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.button-bg {
  border: none;
  background-color: var(--bg-colour);
  font-weight: bold;
  cursor: pointer;
}

.play-button {
  transition: 500ms;
  padding: 15px 35px;
  border: 3px solid var(--bg-accent);
  border-radius: 5px;
  background-color: var(--bg-colour);
  opacity: 0.8;
  cursor: pointer;
  color: var(--accent-yellow);
  font-weight: bold;
  position: relative;
  min-width: 150px;
}

.active,
.play-button:hover {
  transition: 125ms 125ms;
  border: 2px solid var(--accent-blue-dark);
  border-radius: 5px;
  color: var(--main-text);
  transform: scale(1.25);
  font-size: 125%;
}

.controls:hover .play-button:not(:hover) {
  transform: scale(0.8);
  opacity: 0.7;
}

.play-button::before {
  content: "";
  position: absolute;
  background-color: var(--accent-blue-dark);
  width: 101%;
  height: 0%;
  overflow: hidden;
  top: -1px;
  left: -1px;
  z-index: -1;
  transition: 250ms ease-in-out;
}

.play-button:hover:before {
  height: 101%;
  border: none;
}

.play-button-popup {
  padding: 15px 35px;
  border: 2px solid var(--bg-accent);
  border-radius: 5px;
  background-color: var(--bg-accent);
  cursor: pointer;
  color: var(--main-text);
  font-weight: bold;
  transition: 500ms;
}

.play-button-popup:hover {
  background-color: var(--accent-blue-dark);
  border: 2px solid var(--accent-blue-dark);
  border-radius: 5px;
  color: var(--main-text);
  transition: 250ms;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 30px;
  background-color: var(--bg-colour);
  border-radius: 10px 10px 0 0;
  text-align: center;
}

footer a {
  color: var(--main-text);
  font-size: 12px;
}

.popupBG {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  background: #0000008e;
}

.popupBox {
  background: #fff;
  border-radius: 20px;
  padding: 20px 100px;
  transform: translateY(-80px);
}

.popupContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.popupBox p {
  color: var(--bg-colour);
}
.score-bg {
  display: none;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  position: absolute;
  background: #555;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid var(--main-text);
  align-items: center;
  justify-content: center;
}

.score-win {
  background: hsla(140, 80%, 30%, 0.8);
}

.score-lose {
  background: hsla(330, 80%, 30%, 0.8);
}

.score-text {
  font-size: 46px;
  font-weight: bolder;
  color: var(--main-text);
}

.show {
  display: flex;
}
