/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after
{
  box-sizing: border-box;
}

*
{
  margin: 0;
}

body
{
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
}

img,
picture,
video,
canvas,
svg
{
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select
{
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6
{
  overflow-wrap: break-word;
}

#root,
#__next
{
  isolation: isolate;
}

/*
  End Josh's Custom CSS Reset"
*/

body
{
  background: #000;
}

.play
{
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  padding: 10px 0;
}

.play__title
{
  font-style: italic;
}

.play__info
{
  color: #eee;
  font-size: 20px;
}

.round
{
  display: flex;
  min-height: 200px;
  align-items: center;
}

.round-entry
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 250px;
}

.round-emoji
{
  font-size: 100px;
}

.vs
{
  font-size: 30px;
  font-weight: bold;
}

#play__score
{
  font-weight: bold;
  font-size: 20px;
}

.controls
{
  display: flex;
  gap: 20px;
}

.play-button
{
  padding: 10px 25px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #ffffff22;
  color: #fff;
  font-weight: bold;
  transition: 500ms;
}

.active,
.play-button:hover
{
  background-color: #fff;
  color: #000;
  transition: 250ms;
} 